* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff47;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    font-weight: 600;
}

#result {
    font-weight: 500;
    margin-top: 10px;
}

.bmi-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bmi-info ul li {
    font-size: 1rem;
}


.normal {
    color: #4CAF50;
}

.underweight {
    color: #FFC107;
}

.overweight {
    color: #FF5722;
}

.obese {
    color: #F44336;
}
